[Desktop Entry]
Version=1.0
Name=PIVX Core
Comment=PIVX P2P Cryptocurrency
Comment[fr]=PIVX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PIVX, eşten eşe kriptografik sanal para birimi
Exec=pivxl-qt %u
Terminal=false
Type=Application
Icon=pivxl128
MimeType=x-scheme-handler/pivxl;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
