# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=PIVXL Core
Comment=PIVXL Core QT test network
GenericName=PIVXL Digital Currency QT client testnet network
Exec=pivxl-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/pivxl_testnet.png
MimeType=x-scheme-handler/pivxl;
Categories=X-Office;X-Finance;
Keywords=internet;pivxl;zpivxl;tpivxl;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
